@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body{
  font-family: 'Inter', sans-serif;
}
header{
  z-index: 10001 !important;
}
.btn-primary{
  @apply px-7 py-2 bg-brandPrimary text-white rounded hover:bg-neutralDGrey transition-all duration-300 
  hover:-translate-y-4;
  background: red;
  
}
.company{
  width: 50px;
  border-radius: 50%;
  height: 50px;
  box-shadow: 0 0 10px #4169E1;
  cursor: pointer;
}
.icon{
  width: 30px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eee;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* adjust the size according to your needs */
  margin-right: 10px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.active-link {
  color: blue; /* adjust the color for active link */
  font-weight: bold;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
}
.car-h1{
 margin-top: 10px;
 color: red;
}
